/* max-width: 767px */

.jumbotron {
    margin-bottom: 0px;
    background-attachment: scroll;
}
.header {
    background-size: contain;
    background-position: center;
    width: auto;
    height: 150px;
    margin: 0 15px 15px 15px;
}
.motto h1 {
    font-size: 22px;
}
.lgrow {
    font-size: 1em;
}
.row {
    margin-top: 10px;
}
.viewlg p {
    font-size: 1.2em;
}
