/* max-width: 454px */

/*.foot-left {
   display: block;
   width: 213px;
   /*height: 100%;*/
   /*margin: 0 auto;
   float: none;
}
.foot-right {
   display: block;
   float: none;
   width: auto;
   margin: 0 auto;
}
#email, #social-bar {
   text-align: center;
}
#social-bar {
   margin-bottom: 10px;
}
#email, #social-bar {
   display: block;
   height: 100%;
   margin: 0 auto;
   float: none;
}
#email {
    width: 70px;
    margin-bottom: 10px;
}
#social-bar {
    width: 151px;
}
#social-bar a:first-child {
    padding-left: 0;
} */