/* max-width: 991px */

.jumbotron {
    height: 500px;
}
.jumbotron img {
    float: none;
    margin: 263px 0 0 0;
}
.jumbotron p {
    text-align: center;
}
.motto, .motto h1 {
    display: block;
}
.motto h1 {
    font-size: 1.7em;
}
.row {
    margin-top: 10px;
}
.lgrow {
    font-size: 1.15em;
}
.col-lg-6 {
    width: 50%;
    float: left;
}
.viewlg h2 {
    font-size: 1.2em;
    padding: 10px;
    margin: 10px 0 30px 0;
}
.viewlg p {
    font-size: 1em;
    margin-bottom: 30px;
}
.viewlg a.info {
    font-size: 1.2em;
}
.foot-left p, .foot-right p, .foot-right a {
    font-size: 1em;
}
#box, #motto {
    display: none;
}
#addressbox {
    float: none;
    margin-left: auto;
    margin-right: auto;
}